<ion-view view-title="Statistics">
  <ion-content class="padding">
    <ion-item>
      <div class="card">
        <div class="item item-divider">
          <h2> Average Sleeping Duration </h2>
        </div>
        <div class="item item-body">
          {{dataSHour}}
        </div>
        <div class="item item-divider">
          <h2> Average Bed Time </h2>
        </div>
        <div class="item item-body">
          {{dataHour}} : {{dataMin}} &nbsp; {{pmoram}}
        </div>
        <div class="item item-divider">
          <h2> Sleeping Streak </h2>
        </div>
        <div class="item item-body">
          {{sleepStreak}}
        </div>

    </ion-item>


  </ion-content>
</ion-view>
