<ion-view view-title="Profile">
  <ion-content class="padding">
  <ion-card>
    <ion-item>
      <center>
        <img src="img/Avatar.jpg"style="width:100px;height:100px;">
        <h1 class="title">Mike Chen</h1>
      </center>
      <p class="description">Hello I'm Mike, a Sleepathon usee. I love this App!</p>
    </ion-item>
        <div class="col text-center">
        <button class = "button icon-left clear small">
          <div> 10 Likes</div>
        </button>
      </div>
    <ion-list>
        <h3 class="title">My Achievements</h3>
        <ion-item>
          <img src="img/achievement.png" style="width:50px;height:50px;">
            First Timer
        </ion-item>
        <ion-item><img src="img/achievement.png" style="width:50px;height:50px;">Sleep, sleep, and sleep</ion-item>
        <ion-item><img src="img/achievement.png" style="width:50px;height:50px;">No Coffee Needed</ion-item>
</ion-list>
  </ion-content>
</ion-view>
