<ion-view view-title="Leader Board">
  <ion-content class="padding">
  <ion-card>
    <ion-item>
        <h1>&nbsp;<b> <font size=10>  Sleeeepers! </font></b></h1>
    <ion-list>
        <ion-item>
        <p><img ng-src="img/crown-gold.png" style="width:40px;height:40px;">
          <img src="img/max.png" style="width:40px;height:40px;" align="middle">
          <font size=9 color="gold"> &nbsp;Max Ma </font></p>

        <p> <font size = 3 color="white">&nbsp;&nbsp;Current sleeping streak: <b>10</b> days</font> <br />
      <font size = 3 color="white">&nbsp;&nbsp;Longest sleeping streak: <b>233</b>  days</font></p>

        </ion-item>
        <ion-item>
          <p><img ng-src="img/crown-silver.png" style="width:40px;height:40px;">
            <img src="img/yue.png" style="width:40px;height:40px;" align="middle">
            <font size=9 color="silver">&nbsp;Yue Yin</font></p>
            <p> <font size = 3 color="white">&nbsp;&nbsp;Current sleeping streak: <b>8</b> days</font> <br />
          <font size = 3 color="white">&nbsp;&nbsp;Longest sleeping streak: <b>1222</b>  days</font></p>
        </ion-item>
        <ion-item>
          <p><img ng-src="img/crown-brown.png" style="width:40px;height:40px;">
            <img src="img/mike.png" style="width:40px;height:40px;" align="middle">
            <font size=9 color="Goldenrod">&nbsp;Mike Chen</font></p>
            <p> <font size = 3 color="white">&nbsp;&nbsp;Current sleeping streak: <b>1</b> days</font> <br />
          <font size = 3 color="white">&nbsp;&nbsp;Longest sleeping streak: <b>18</b>  days</font></p>
        </ion-item>
        <ion-item>
          <p><img ng-src="img/4.svg" style="width:40px;height:40px;">
            <img src="img/toffer.png" style="width:40px;height:40px;" align="middle">
            <font size=9 color="grey">&nbsp;Toffer</font></p>
            <p> <font size = 3 color="white">&nbsp;&nbsp;Current sleeping streak: <b>0</b> days</font> <br />
          <font size = 3 color="white">&nbsp;&nbsp;Longest sleeping streak: <b>18</b>  days</font></p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
