<style>
img.top {
    vertical-align: text-top;
}

img.bottom {
    vertical-align: text-bottom;
}
</style>

<ion-view view-title="Profile">
  <ion-content class="padding">
  <ion-list>
    <ion-item>

      <p> <img style="float: left; margin: 0px 10px 50px 0px;" src="img/Avatar.jpg" width="150" />
      <span style="opacity: 0;"></span>
    </font><font size=4 color="white"><b>Mike Chen</b></font><br /><br /><font size=3 color="white">Hello I'm Mike, a Sleepathon
      <br /> user. I love this App!</font><br/> <br /><button class="button button-stable button-medium"> View Check In </button>
        <button class="button button-assertive button-medium"> 50 Likes </button></p>

        <p><font size=6 color = #C8C8C8> My Achievements</font></p><br />
        <ion-item>
          <img src="img/achievement.png" style="float: left; width:50px;height:50px; margin: 5px 0px 0px 0px;">
            <br />&nbsp; <font size=5> <font color = "white">First Timer</font>  &nbsp;<i>Jan 29th</i> </font>
        </ion-item>
        <ion-item><img src="img/achievement.png" style="float: left; width:50px;height:50px; margin: 5px 0px 0px 0px;">
          <br />&nbsp; <font size=5> <font color = "white">Sleep, Sleep, Sleep</font>  &nbsp;<i>Feb 1st</i> </font>
        </ion-item>
        <ion-item><img src="img/achievement.png" style="float: left; width:50px;height:50px; margin: 5px 0px 0px 0px;">
          <br />&nbsp; <font size=5> <font color = "white">No Coffee Needed</font>  &nbsp;<i>Dec 25th</i> </font>
        </ion-item>


  </ion-content>
</ion-view>
