<!DOCTYPE html>




<ion-view view-title="Activities">
  <ion-content class="padding">

    <h1>&nbsp;<b> <font size=10>  Activities </font></b></h1>



    <ion-list>
      <div class="item">
        <Center>
            <font size="6"><b>World Sleep Day Gathering</b></font>
            <div> <font size="4"> </br> </font>  </div>
            <div> <font size="4">March 17 is the date for the 2017 World Sleep Day <br />
                                Sleepathon is sponsoring a gathering in the
                               <br /> University Center to celebrate this!</font> </div>
            <p><br    /></p>
        </Center>

        <div class="col text-center">
        <button class="button button-stable button-large"
                onclick = "window.location.href='http://worldsleepday.org/'"> View Info </button>
          <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>

      <div class="item">
        <center>
            <font size="6"><b>Students Council Cup</b></font>
            <div> <font size="4"> </br> </font>  </div>
            <div> <font size="4">This is a competition run by the Carnegie <br />Mellon University Students Council</font> </div>
            <p><br    /></p>
        </center>

        <div class="col text-center">
        <button class="button button-stable button-large"
                onclick = "window.location.href='http://www.cmu.edu'"> View Info </button>
          <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>


      <div class="item">
        <Center>
            <font size="6"><b>Tartan Sleeping Contest</b></font>
            <div> <font size="4"> </br> </font>  </div>
            <div> <font size="4">This competition is ran by Carnegie <br />Mellon University's Provost
                                  Prizes includes a 5$ <br />
                                  coupon to Au Bon Pain at Skibo Cafe!</font> </div>

            <p><br    /></p>
        </Center>

        <div class="col text-center">

        <button class="button button-stable button-large"
                onclick = "window.location.href='http://www.cmu.edu'"> View Info </button>
        <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>




</ion-list>
</ion-content>
</ion-view>
