<!DOCTYPE html>




<ion-view view-title="Sleepathon">
  <ion-content class="padding">

    <h1><b> <font size=6>  Activities </font></b></h1>



    <ion-list>
      <div class="item">
        <Center>
            <font size="5"><b>World Sleep Day Gathering</b></font>
            <div> <font size="3"> </br> </font>  </div>
            <div> <font size="3">March 17 is the date for the 2017 World Sleep Day <br />
                                Sleepathon is sponsoring a gathering in the
                               <br /> University Center to celebrate this!</font> </div>
            <p><br    /></p>
        </Center>

        <div class="col text-center">
        <button class="button button-stable button-large"
                onclick = "window.location.href='http://worldsleepday.org/'"> View Info </button>
          <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>

      <div class="item">
        <center>
            <font size="5"><b>Students Council Cup</b></font>
            <div> <font size="3"> </br> </font>  </div>
            <div> <font size="3">This is a competition run by the Carnegie <br />Mellon University Students Council</font> </div>
            <p><br    /></p>
        </center>

        <div class="col text-center">
        <button class="button button-stable button-large"
                onclick = "window.location.href='http://www.cmu.edu'"> View Info </button>
          <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>


      <div class="item">
        <Center>
            <font size="5"><b>Tartan Sleeping Contest</b></font>
            <div> <font size="3"> </br> </font>  </div>
            <div> <font size="3">This competition is ran by Carnegie <br />Mellon University's Provost
                                  Prizes includes a <br />
                                  5$ coupon to Au Bon Pain at Skibo Cafe!</font> </div>

            <p><br    /></p>
        </Center>

        <div class="col text-center">

        <button class="button button-stable button-large"
                onclick = "window.location.href='http://www.cmu.edu'"> View Info </button>
        <input type="button" class="button button-positive button-large" value="Enroll Now" onclick="return changeEnrollStatus(this);" />
        </div>
      </div>




</ion-list>
</ion-content>
</ion-view>
