<ion-view view-title="Sleepathon">
  <ion-content class="padding">
    <h1>&nbsp;</h1>
    <h1> </h1>
    <p><font size=6> <b> Statistics</b> </font> </p>
    <ion-item>
      <div class="card">
        <div class="item item-divider">
          <h2> Average Sleeping Duration </h2>
        </div>
        <div class="item item-body">
          <!--{{dataSHour}}-->
          8 Hours
        </div>
        <div class="item item-divider">
          <h2> Average Bed Time </h2>
        </div>
        <div class="item item-body">
          <!--<{{dataHour}} : {{dataMin}} &nbsp; {{pmoram}}-->
          11 : 30 p.m.
        </div>
        <div class="item item-divider">
          <h2> Sleeping Streak </h2>
        </div>
        <div class="item item-body">
          <!-- {{sleepStreak}}-->
          1 day(s)
        </div>

    </ion-item>


  </ion-content>
</ion-view>
