<ion-view view-title="Leaderboard">
  <ion-content class="padding">


    <p>&nbsp;<b> <font size=7 color = #C8C8C8><br/>Top Sleepers </font></b><br/><br/>
      <select id = "mySelector" onchange="return changeSelect(this);">
        <option value ="0" selected>Friend Circle</option>
        <option value ="1">CMU Students</option>
        <option value = "2">Pittsburgh Locals</option>
      </select>
      <br />
      <br />
    </p>
    <ion-list>
          <ion-item ng-repeat="leader in leaders" type="item-text-wrap" href="#/tab/leader/{{leader.id}}">
              <p>&nbsp;<img ng-src = img/{{$index}}.png style="width:30px;height:30px;">&nbsp;&nbsp;<img ng-src="{{leader.face}}" style="width:30px;height:30px;" align="middle">
                        &nbsp; &nbsp;<font size = 5 color="white"><b>{{leader.name}}</b></font>
                </p>
              <p><font size = 3 color="white">&nbsp;&nbsp;Current Sleeping Streak: <b>{{leader.current}}</b> days</font>
                <br />
                <font size = 3 color="white">&nbsp;&nbsp;Longest Sleeping Streak: <b>{{leader.longest}}</b> days</font>
              </p>
              <i class="icon  icon-accessory"></i>
          </ion-item>


        </ion-list>
      </ion-item>

    </ion-content>
  </ion-view>
