<ion-view view-title="Sleep">

  <ion-content>
    <div class="list">

        <a class="item item-avatar"  ng-repeat="chat in chats"  href="#">
          <img src="{{chat.face}}">
          <h2><font size= 5 color = #D3D3D3>{{chat.name}}</font></h2>
          <p><font color=#A9A9A9>{{chat.post}}</font></p>
          <div style=" margin-top: -50px; margin-left: 120px;">
            <h2>{{chat.date}}</h2>
          </div>
        </a>

    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="height:10%;">
    <div class="row">
      <div class="col text-center" style="height:100%;">
        <!-- <button class="button button-positive" style="height:80%; width:80%;" ng-click="modal.show()"> Sleep </button> -->
        <button class="button button-positive" style="height:80%; width:80%;" ng-click="showPopup()"><font size=4>Sleep</font></button>
      </div>
    </div>
  </ion-footer-bar>
  <script id="sleepInputModel.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Sleeping</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding" style="background-color: #566196;">
        <div class="list">
          <div class="row">
            <div class="col text-center" style="height:100%;">
              <!-- <button class="button button-positive" style="height:80%; width:80%;" ng-click="modal.show()"> Sleep </button> -->
              <h1>{{motionScore}}</h1>
            </div>
          </div>
          <button class="button button-full button-stable" ng-click="createPost(post)">End</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>


</ion-view>
