<ion-view view-title="Sleep">

  <ion-content>
    <div class="list">

        <a class="item item-avatar"  ng-repeat="chat in chats"  href="#">
          <img src="{{chat.face}}">
          <h2>{{chat.name}}</h2>
          <p>{{chat.lastText}}</p>
        </a>

    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="height:10%;">
    <div class="row">
      <div class="col text-center" style="height:100%;">
        <button class="button button-positive" style="height:80%; width:80%;" ng-click="modal.show()"> Sleep </button>
      </div>
    </div>
  </ion-footer-bar>
  <script id="sleepInputModel.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Status</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding" style="background-color: #566196;">
        <div class="list">
          <label class="item item-input">
            <input ng-model="post.content" type="text" style="height:200px">
          </label>
          <button class="button button-full button-stable" ng-click="createPost(post)">Post</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
